@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Akira Super";
    src: url("../fonts/Akira Expanded Demo.otf");
    font-family: "bahnschrift";
    src: url("../fonts/BAHNSCHRIFT.TTF");
}
.search-card{
    width: 15%;
    height: 15%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.image_search{
    width: 90%;
    height: auto;

}
.title_search{
    color: white;

}
.hideid{
    display: block;
    color: white;
}
.button_search{
    color: white;
}